# MacOS
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

#Identifier files
*:Zone.Identifier

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# Jupyter Notebook
.ipynb_checkpoints

# Ignore LaTeX auxiliary files
*.aux
*.log
*.run.xml
*.bcf
*.lof
*.lot
*.out
*.run
*.toc
*.bbl
*.blg
*.synctex.gz
*.fls
*.fdb_latexmk

# 
__pycache__


# Results
data/results/excess_returns.csv
data/results/monthly_returns.csv
data/results/portfolio_weights.csv
data/results/turnover_series.csv
src/analysis/cumulative_returns.png
src/analysis/sharpe_ratios_robustness.png

